<form class="row g-3" [formGroup]="editForm" (ngSubmit)="onEdited(editForm)" *ngIf="Edited == false">
    <div class="col-12">
        <input type="text" class="form-control" formControlName="title" placeholder="Article Title">
    </div>

    <div class="col-md-12">
        <input type="text" class="form-control" formControlName="about" placeholder="What's this article about?">
    </div>
    <div class="col-12">
        <textarea rows="8" class="form-control" formControlName="desc"></textarea>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Edited</button>
    </div>
</form>


<div class="col-sm-12" *ngIf="Edited == true">
    <div class="alert alert-success" role="alert">
        This is Article Edited successfully
    </div>
</div>